<extend name="Index/index" />
<!-- <include file="Index/index" /> -->
<!-- <include file="wc/Layout/header" /> -->

<block name="wrapper">
	<!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                攻略问答管理
                <small>这是攻略问答页面</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 攻略问答管理</a></li>
                <li class="active">攻略问答列表</li>
            </ol>
        </section>
        
        <!-- Main content -->
        <section class="content">
            <div class="row">
           
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">攻略问答列表</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <form action="/index.php/Admin/Problem/index" method="get">

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <select name="num" class="form-control">
                                            <option <if condition="$Think.get.num eq 5">selected</if> value="5">5</option>
                                            <option <if condition="$Think.get.num eq 10">selected</if> value="10">10</option>
                                            <option <if condition="$Think.get.num eq 20">selected</if> value="20">20</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 col-md-offset-6">
                                        <div class="input-group input-group">
                                            <input value="{$Think.get.search}" name="search" type="text" class="form-control">
                                            <span class="input-group-btn">
                                              <button class="btn btn-info btn-flat" >搜索</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </form>
                            
                            <form action="{:U('Admin/Problem/del')}" method="post">
                         
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th style="width:100px;">ID</th>
                                    <th style="width:200px;">所属产品</th>
                                    <th style="">问题</th>
                                    <th>解答</th>
                                    <th style="width:120px;">修改 | 删除</th>

                                </tr>
                                </thead>
                            <tbody>
                            <foreach name="problem" item="value">
                                <tr>
                                    <td><input type="checkbox" name="like[]" value="{$value['id']}">{$value['id']}</td>
                                    <td>
                                        <if condition="strtoupper($value['product']) eq '1'">
                                            抵押经营
                                        <elseif condition="strtoupper($value['product']) eq '2'" />
                                            抵押消费
                                        <elseif condition="strtoupper($value['product']) eq '3'" />
                                            公积金
                                        <elseif condition="strtoupper($value['product']) eq '4'" />
                                            月供
                                        <elseif condition="strtoupper($value['product']) eq '5'" />
                                            保单
                                        <elseif condition="strtoupper($value['product']) eq '6'" />
                                            短借
                                        <elseif condition="strtoupper($value['product']) eq '7'" />
                                            垫资
                                        <elseif condition="strtoupper($value['product']) eq '8'" />
                                            征信
                                        <elseif condition="strtoupper($value['product']) eq '9'" />
                                            综合
                                        </if>
                                    </td>
                                    <td>{$value['title']}</td>

                                    <td>{$value['content']}</td>

                                    <td><a href="{:U('Admin/Problem/edit',array('id'=>$value['id']))}"><button type='button' class='btn btn-success' name='sta[]'><i class="fa fa-edit"></i></button></a> <a href="{:U('Admin/Problem/delete',array('id'=>$value['id']))}"><button type='button' class='btn btn-danger' name='sta[]'><i class="fa fa-trash-o"></i></button></a></td>
                                </tr>
                            </foreach>
                            
                                </tbody>
                            </table>
                            <input type="submit" value="批量删除">
                            </form>
                            <a href="{:U('Admin/Problem/add')}" class="btn btn-primary">添加</a>
                            <!--页码-->
                            <div class="productPage">
                                {$pagestr}
                            </div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </section><!-- /.content -->
    </div>
</block>