<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
		<title>卓屹金服</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/zy/css/consultant-child.css" />
	</head>
	<body>
		<div class="zyjf_child_consultant">
			<div class="zyjf_child_consultant_con">
				<div class="child_xiaoshou">
					<a href="{:U('Index/index')}">卓屹金服</a>
					<span> > </span>
					<a href="{:U('Jy/consultant')}">精英顾问</a>
					<span> > </span><span>详情页</span>
				</div>
				<div class="xiaohsou_gai">
					<div class="xiaoshou-gai_left">
						<div class="xiaoshou_gai_touxiang"><img src="__PUBLIC__{$jy['pic']}" /></div>
						<div class="gai_right">
						<div class="xiaoshou_gai_name" style="margin-bottom:20px;">
							<div class="xiaoshou_gai_name_le name">{$jy['vname']}</div>
							<div class="yewujingli">
								<if condition="$jy.position eq 1">
									业务经理
								<elseif condition="$jy.position eq 2" />	
									部门主管
								<elseif condition="$jy.position eq 3" />
									部门经理	
								</if>
							</div>
							<div class="chat_jy">
								<!-- mibew button -->
								<a id="mibew-agent-button" href="http://101.200.216.198:8080/chat?locale=zh-cn" target="_blank" onclick="Mibew.Objects.ChatPopups['58abaedd183d638f'].open();return false;"><span></span></a>
								<!-- / mibew button -->
							</div>
						</div>
						<!--<div class="xiaoshou_gai_xiangqing">
							<div class="xiaoshou_gai_xiangqing_le">服务评级：</div>
							<div class="xiaoshou_gai_xiangqing_ri"><img src="__PUBLIC__/zy/img/biaoqing.png" /></div>
						</div>-->
						
						<div class="xiaoshou_gai_xiangqing">
							<div class="xiaoshou_gai_xiangqing_le">成交额度</div>
							<div class="xiaoshou_gai_xiangqing_ri"><span>{$jy.money}</span><span>万</span></div>
						</div>

						<!--<div class="xiaoshou_gai_xiangqing">
							<div class="xiaoshou_gai_xiangqing_le">行事风格：</div>
							<div class="xiaoshou_gai_xiangqing_ri">{$jy.style}</div>
						</div>-->
						<div class="xiaoshou_gai_xiangqing">
							<div class="xiaoshou_gai_xiangqing_le">擅长业务</div>
							<div class="xiaoshou_gai_xiangqing_ri">
								{$jy.business}
							</div>
						</div>
						
						
													<div class="xiaoshou_strat">
								<span class="xiaoshou_strat_one">服务评级</span>
								<span class="">
									<if condition="$jy.grade eq null">
										<img src="__PUBLIC__/zy/img/grade1.png" alt="" />
									<elseif condition="$jy.grade elt 20" />
										<img src="__PUBLIC__/zy/img/grade5.png" alt="" />
									<elseif condition="$jy.grade gt 20 && $jy.grade elt 45" />
										<img src="__PUBLIC__/zy/img/grade4(1).png" alt="" />
									<elseif condition="$jy.grade gt 45 && $jy.grade elt 60" />
										<img src="__PUBLIC__/zy/img/grade3(2).png" alt="" />
									<elseif condition="$jy.grade gt 60 && $jy.grade elt 85" />
										<img src="__PUBLIC__/zy/img/grade2.png" alt="" />
									<elseif condition="$jy.grade gt 85 && $jy.grade elt 100" />
										<img src="__PUBLIC__/zy/img/grade1.png" alt="" />	
									</if>
								</span>
							</div>
							
							<div class="xiaoshou_strat">
								<span class="xiaoshou_strat_one">请您评价</span>
								<div onclick="addzan({$jy.id},'3')" class="xiaoliana1 xiaoliana"></div>
								<div onclick="addzan({$jy.id},'2')" class="xiaoliana2 xiaoliana"></div>
								<div onclick="addzan({$jy.id},'1')" class="xiaoliana3 xiaoliana"></div>
							</div>

						
						<div style="clear: both;"></div>
						</div>
						<div class="xiaoshou_gai_toori">
					<div class="xingge_jieshao">
						<!--遍历类名huangguan即可-->
 						<div class="huangguan">
							<span><img src="__PUBLIC__/zy/img/huangguan.png"/></span>
							<span >
								{$jy['one']}
							</span>
						</div>
						<div class="huangguan">
							<span><img src="__PUBLIC__/zy/img/huangguan.png"/></span>
							<span >
								{$jy['two']}
							</span>
						</div>	
							
							
					</div>
					<div class="xiaoshou_gai_xiangqing">
							<!--<div class="xiaoshou_gai_xiangqing_le">个人介绍：</div>-->
							<div class="xiaoshou_gai_spe">{$jy.self}</div>
						</div>
							
						</div>
					</div>
					<div class="xiaoshou-gai_right">
						<ul class="case_ul">
							<li>
								<div class="title_zyjf">
									<div class="case_li_left">
										<if condition="$jy['title1'] eq 1">成功案例一</if>
									</div>
									<div class="case_li_rifht bjtu"></div>
								</div>
								<div class="case-con">{$jy['case']}</div>
							</li>
							<if condition="$jy['casetwo'] neq null">
							<li>
								<div class="title_zyjf">
									<div class="case_li_left">
										<if condition="$jy['title2'] eq 2">成功案例二</if>
									</div>
									<div class="case_li_rifht bjtu"></div>
								</div>
								<div class="case-con">{$jy['casetwo']}</div>
							</li>
							</if>
							<if condition="$jy['casethree'] neq null">
							<li>
								<div class="title_zyjf">
									<div class="case_li_left">
										<if condition="$jy['title3'] eq 3">成功案例三</if>
									</div>
									<div class="case_li_rifht bjtu"></div>
								</div>
								<div class="case-con">{$jy['casethree']}</div>
							</li>
							</if>
						</ul>
						
						
					</div>

					<div style="clear: both;"></div>
				</div>
				<div class="yuyue_xiaoshou_gai">
<div class="xiaoshou_gai_tel">24小时贷款热线：<span>400-9100-188</span></div>
	<div>或输入您的手机号，我们将会与您取得联系</div>
	<div class="shuru_tel">

	<input type="text" class="shuru_input" name="phone" id="phone" ww="{$jy['id']}"/>	
		<input type="submit"  class="shuru_sub" value="提交" onclick="submit()" />
	</div>
	<div class="xiaoshou_gai_tela">当然，您也可以直接拨打我们的电话：</div>
	<div class="xiaoshou_gai_tela">400-9100-188</div>
	<div class="xiaoshou_gai_tela">我们将给您提供更加细致的服务</div>
	<div class="zaixianyy"><a href="{:U('Jy/daishenqing',array('id'=>$jy['id']))}">在线预约</a></div>
	
</div>
			</div>
		</div>


	</body>

</html>
<script src="__PUBLIC__/zy/js/zyjf.js" type="text/javascript"></script>
<script type="text/javascript">

	function submit()
	{
		var phone = $('#phone').val();
		var id = $('#phone').attr('ww');
		$.ajax({
			type : 'post',
			url : '{:U('Home/Yu/add')}',
			data : {phone:phone,id:id},
			success : function(data){
				
				if(data==1){
					lay("请填写正确的手机号",5)
				}else if(data==2){				
					lay("我们将尽快与您取得联系",1)
				}else if(data==3){
					lay("您已预约成功，请耐心等待!",5)
					
				}else if(data==4){
					lay("请填写正确的手机号",5)
					
				}
			}
		})
	}

$('.case_ul li').click(function(){  
	$('.case_ul li .case_li_left').removeClass('gaoliang');
	$(this).find('.case_li_left').toggleClass('gaoliang');
	$(this).siblings().find('.bjtu').removeClass('case_li_rifht_click');
    $(this).find('.bjtu').toggleClass('case_li_rifht_click');
	$(this).siblings().find('.case-con').slideUp(300)
	$(this).find('.case-con').slideToggle(300);

})


//统计浏览本精英顾问页面的次数，每次进入或刷新本页面，浏览量+1
$(function(){
	var id = $('#phone').attr('ww');
	$.ajax({
		type : 'post',
		url : '{:U('Home/Jy/liu')}',
		data : {id:id},
		success : function(data){
			
		}
	});
})
</script>

<!--页面跟踪-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85930367-2', 'auto');
  ga('send', 'pageview');

</script>

<script>
//服务评价
var busy = false;
var uid = '{:(int)session('auser.id')}';
var pid = '{:(int)session('auser.pid')}';

function addzan(id,type){
	if(uid==0){

		lay("请先登录",5)
		return ;
	}
	$.ajax({
		'type' : 'get' ,
		'url' : '{:U("Home/Click/ajax")}', 
		data : {id:id,type:type,pid:pid} ,
		success : function(data){
			if(data == '1'){
				lay("亲，只能评论一次哦！",1)
			}else{
				lay("恭喜您，评论成功！",1)
			}
		}
	});
	
}
</script>