<!-- <extend name="Index/index" /> -->
<include file="Index/index" />
<block name="wrapper">

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                管理员修改
                <small>这是后台的管理员修改页面</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 管理员管理</a></li>
                <li class="active">管理员修改</li>
            </ol>
        </section>
        
        <!-- Main content -->
        <section class="content">
       
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">管理员修改</h3>
                        </div><!-- /.box-header -->
                        <!-- form start -->
                        
                        <form role="form" action="{:U('Admin/User/update')}" method="post" enctype="multipart/form-data" name="form11">

                        

                        <input type="hidden" value="{$data['id']}" name="id">
                            <div class="box-body">
                                
                                <div class="form-group">
                                    <label for="exampleInputEmail1">管理用户名</label>
                                    <input type="text" name="name" class="form-control" value="{$data['name']}" id="name"
                                           placeholder="请输入6-18位的用户名">
                                </div>
                                <!-- <div class="form-group">
                                    <label for="exampleInputPassword1">昵称</label>
                                    <input type="text" name="kname" class="form-control" id="kname" value="{$data['kname']}" placeholder="请输入你的昵称">
                                </div> -->
                                <div class="form-group">
                                    <label for="exampleInputPassword1">密码</label>
                                    <input type="password" name="password" class="form-control" id="password" placeholder="请输入密码">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">确认密码</label>
                                    <input type="password" name="repassword" class="form-control" id="repassword" placeholder="请输入确认密码">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">管理员等级</label>
                                    <select name="rank" class="form-control" id="exampleInputEmail1" value="{$data['rank']}">
                                        <option value="1" <if condition="strtoupper($data['rank']) eq '1'">selected</if>>一级管理员</option>
                                        <option value="2" <if condition="strtoupper($data['rank']) eq '2'">selected</if>>二级管理员</option>
                                        <option value="3" <if condition="strtoupper($data['rank']) eq '3'">selected</if>>三级管理员</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">状态</label>
                                    <select name="status" class="form-control" id="exampleInputEmail1"  >
                                        <option value="1" <if condition="strtoupper($data['status']) eq '1'">selected</if>>启用</option>
                                        <option value="0" <if condition="strtoupper($data['status']) eq '0'">selected</if>>禁用</option>
                                        
                                    </select>
                                </div>
                            </div><!-- /.box-body -->
                        
                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">更改</button>
                                <button type="reset" class="btn btn-primary">重置</button>
                            </div>
                        </form>
                    </div><!-- /.box -->
                </div><!--/.col (left) -->
                <!-- right column -->
                <div class="col-md-6">   
                </div><!--/.col (right) -->
            </div>   <!-- /.row -->
        </section><!-- /.content -->
    </div>
<script type="text/javascript" src="__PUBLIC__/bootstrap/js/jquery.validation/1.14.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/bootstrap/js/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLIC__/bootstrap/js/jquery.validation/1.14.0/messages_zh.min.js"></script>
<script type="text/javascript">
    $("form[name=form11]").validate({
    rules:{
        name:{
            required:true,
            rangelength:[5,16],
        },
        password:{
            required:true,
            rangelength:[8,16],
        },
        repassword:{
            required:true,
            equalTo:"#password",
        },
        // kname:{
        //     required:true,
        //     minlength:2,
        // }
        
    },
    messages:{
        name:{
            required: "请填写管理员用户名",
            rangelength:"请输入5-16位的管理员用户名",
        },
        password:{
            required:"请填写密码",
            rangelength:"密码为8-16位数字字母下划线",
        },
        repassword:{
            required:"请填写确认密码",
            equalTo:"确认密码与密码不一致",
        },
        // kname:{
        //     required:"昵称不能为空",
        //     minlength:"昵称最少两位",
        // }
    }
});
</script>
</block>
