<!-- <extend name="Index/index" /> -->
<include file="Index/index" />
<block name="wrapper">

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                友情链接管理
                <small>这是后台的友情链接添加页面</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 友情链接</a></li>
                <li class="active">添加链接</li>
            </ol>
        </section>
        
        <!-- Main content -->
        <section class="content">
       
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">链接添加</h3>
                        </div><!-- /.box-header -->
                        <!-- form start -->
                        
                        <form role="form" action="{:U('Admin/Links/insert')}" method="post" enctype="multipart/form-data" name="form11" onSubmit="return Length()">
                        
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">友情链接名称</label>
                                    <input type="text" name="blogroll" class="form-control" value="" id="exampleInputEmail1"
                                           placeholder="请输入友情链接名称">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">友情链接地址</label>
                                    <input type="url" name="url" class="form-control" id="exampleInputPassword1"
                                           placeholder="请输入链接URL地址">
                                </div>
                                
                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">添加</button>
                                <button type="reset" class="btn btn-primary">重置</button>
                            </div>
                        </form>
                    </div><!-- /.box -->
                </div><!--/.col (left) -->
                <!-- right column -->
                <div class="col-md-6">   
                </div><!--/.col (right) -->
            </div>   <!-- /.row -->
        </section><!-- /.content -->
    </div>
<script>
    function Length(){
        var blogroll = document.form11.blogroll.value;
        var url = document.form11.url.value;
        if(blogroll == "" || url == "")
        {
            alert('名称和地址不能为空');
            return false;
        }
    }
</script>
</block>