/*攻略问答页面下拉框*/
.call_me{
	color: #ffffff!important;
}
body {
	margin: 0px;
	padding: 0px;
}
input{
	outline: none!important;
}
.table > tbody > tr > td{
    line-height: 2.3!important;
}
.wwl_shoufq {
	color: #666;
	/*background-color: white;*/
	padding: 10px;
	margin: 0px auto;
	border-radius: 5px;
}


.wwl_shoufq p {
	text-indent: 2em;
	margin-bottom: 10px;
}

.wwl_shoufq .hideo {
	display: none;
}

.wwl_shoufq dt {
	font-size: 17px;
	/*  color: #669933;*/
	margin-bottom: 10px;
	margin-left: 26px;
	cursor: pointer;
	font-weight: 500!important;
}


/* Triangle list item */

.wwl_shoufq dt:before {
	content: "";
	border-color: transparent #4FC3AE;
	border-style: solid;
	border-width: 8px 0 8px 8px;
	display: block;
	height: 0;
	left: -19px;
	position: relative;
	top: 19px;
	width: 0;
}

.wwl_shoufq dd {
	background: #fdfcfa none repeat scroll 0 0;
    border: 1px solid #d0d6d6;
    border-radius: 5px;
    line-height: 30px;
    margin: 10px 0;
    padding: 0 20px;
    position: relative;
}


/* Triangle in definition container */

.wwl_shoufq dd:after,
.wwl_shoufq dd:before {
	bottom: 100%;
	left: 6%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.wwl_shoufq dd:after {
	border-color: rgba(136, 183, 213, 0);
	border-color: transparent;
	border-bottom-color: #FDFCFA;
	border-width: 15px;
	margin-left: -15px;
}

.wwl_shoufq dd:before {
	border-color: rgba(194, 225, 245, 0);
	border-color: transparent;
	border-bottom-color:#d0d6d6;
	border-width: 17px;
	margin-left: -17px;
}


/*攻略问答页面下拉框*/


/*左右轮播的样式*/

@charset "utf-8";
ul,
ol,
li {
	list-style-type: none;
	margin: 0px;
	padding: 0;
}

em,
i {
	font-style: normal;
}

.left {
	float: left;
}


/*清除浮动*/

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}


.underNone {
	border-bottom: none;
}

.titleH1 {
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	font-weight: bold;
	border-bottom: 2px solid #ffa804;
	margin-bottom: 5px;
}

.title {
	padding-left: 1px;
	box-shadow: 0 0 0 rgb(225 225 225 0);
}

.toubu_biankuang {
	width: 100%;
	height: 70px;
	border: 1px solid #D0D6D6;
}

.title li {
	width: 180px;
	text-align: center;
	font-size: 20px;
	float: left;
	cursor: pointer;
	height: 68px;
	line-height: 68px;
/*	transition:1s;*/
}

.title li:hover {
	background: #cd9d2c;
	color: #ffffff;	
}
.title li.cur {
	background: #cd9d2c;
	color: #ffffff;
}

.titleexp li {
	float: left;
	margin-right: 10px;
}

.zong {
	clear: both;
	width:1200px;
	height: auto;
/*	overflow: hidden;*/
}

.list {    
	width:1200px;
}

.list .tabCon {
/*	float: left;*/
	width:1200px;
	height: auto;
	border-top: 0px;
}


/*左右轮播的样式*/

ul {
	margin: 0px;
	padding: 0px;

}
.toubu {
	width:1200px;
	height: 50px;margin: 0 auto;
}

.toubu>a,.toubu span {
line-height: 60px;
			color:#666666 ;font-size: 14px;text-decoration: none;	
}

.help_center {
/*	background: #FFFFFF;*/
	padding: 30px 0px;
	width: 100%;min-width: 1422px;
	height: auto;
	margin: 0px auto;
	/*box-shadow: 0px 0px 10px rgb(204, 204, 204);*/
}

.help_center_con {
	height: 100%;
	/*border: 1px solid;*/
	width: 1200px;
	margin: 0 auto;
	/*box-shadow: 0px 0px 10px rgb(204, 204, 204);*/
}

.help_center_head {
	background: #47a3da;
	width: 100%;
	height: 50px;
	/*border: 1px solid;	*/
}

.help_center_head_c {
	background: white;
	width: 98%;
	height: 40px;
	margin: 5px 1%;
}

.help_center_head_c>div {
	cursor: pointer;
	width: 33.3%;
	height: 40px;
	float: left;
	text-align: center;
	line-height: 40px;
}

.help_active {
	color: white;
	background: #47a3da;
}

.help_sercity {
	width: 100%;
	height: auto;
}

.help_sercity>div {
	width: 100%;
	height: auto;
}

.ZYJF_one_left {
	margin: 0 auto;
	box-shadow: 0px 0px 10px #D5D5D5;
}


/*新闻资讯*/

.zyjf_new {
	width: 100%;
	height: auto;
}

.zyjf_new_con {
	width: 1024px;
	height: 100%;
	margin: 0 auto;
	/*border: 1px solid yellow;*/
}

.new_tabs {
	width:1024px;
	height: 900px;
	padding:20px;
	border-style: solid;
	border-color: #D1D3D4;
	border-width: 1px 1px 1px 1px;
	
}

.zong1 {
	height: 500px;
	width: 800px;
	overflow: hidden;
	float: right;
}

.tabs_new_top {
	float: left;
	width: 165px;
}

.tabs_new_top>ul {
	height: 350px;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.tabs_new_top>ul>li {
	line-height: 70px;
	text-align: center;
	color: #333333;
	width: 165px;
	height: 70px;
	margin: 0px 0 40px;
	cursor: pointer;
	box-shadow: 0 0 10px rgb(204, 204, 205);
	font-size: 20px!important;
}
.tabs_new_top>ul>li:hover{
color: #FFFFFF!important;
	background: #cd9d2c;
/*	transition: 1s;	*/
}
.new_con_tabs {
	width:800px;
	height: 1500px;
	margin: 0 auto;
	margin-left: 0px;
}

.new_con_tabs>div {
	/*float: left;*/
	width: 800px;
	height:500px;
	padding: 0 20px;
}

.new_bac_a {
	color: #FFFFFF!important;
	background: #cd9d2c;
}

.style_yanshi>ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.style_yanshi>ul>li {
	position: relative;
	height: 50px;
	border-bottom: 1px dashed gainsboro;
	line-height: 50px;
}
.style_yanshi>ul>li:hover{
border-bottom: 1px dashed #cd9d2c;	
}

.style_yanshi>ul>li>a.dkgl_new {
	width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 50px;
	color: #545454;
	margin: 0 auto;
	font-size: 16px;
	text-align: left;
	padding-left: 10px;
	margin-top: 14px;
}

.span_new2 {
	height: 50px;
	width: 150px;
	position: absolute;
	right: 0px;
	top: 0px;
	display: inline-block;
}

.page_new {
	width: 100%;
	height: 40px;
	/*border: 1px solid;*/
	margin-top: 20px;
}

.page_new>.pager {
	margin: 0px;
}



/*贷款计算器的css部分*/

/*.calculator {
	width: 100%;
	height: auto;
	overflow: hidden;
}*/
.calculate_tree_sponde1 table {
	border: 0px!important;
}

.calculate_tree_sponde1 tr {
	border: 0px!important;
}

.calculate_tree_sponde1 td {line-height: 30px!important;
	border: 0px!important;
}
.calculate_tree_sponde1 input[type=text]{
	width:130px!important;height: 30px;
	border: 1px solid darkgrey;line-height: 30px;
}
.calculate_tree_sponde1 select{
	width:130px!important;height: 30px;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 130px!important;
}
.calculator_con{
	border-color: #D1D3D4;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	height: 390px;
	width:1024px;
	padding:20px 30px 20px;

}
.jieguoxoianshi>div{
	display: none;
	margin-top: 30px;
    border-color: #D1D3D4;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	height: auto;
	width:1024px;
	padding:20px 30px 20px;	
	
}
.jieguoxoianshi tr{line-height: 40px;
	height: 40px!important;
}

.calculate_start {
	width: 100%;
}

.errotishi,
.errotishi2,
.errotishi3,
.errotishi4 {
	display: none;
	color: red;
}

.calculate_tree {
	/*border: 1px solid;*/
	width: 170px;
	height: 330px;
	float: left;
	margin: 0px 0;
}

.calculate_tree>ul {
	width: 100%;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.calculate_tree>ul>li {overflow: hidden;
	cursor: pointer;
	/*background: #FFFFFF;*/
	width: 100%;
	height:65px;
	line-height:65px;
	text-align: center;font-size:18px;
	margin-bottom: 20px;
	color:#333333;
	box-shadow: 0 0 10px rgb(204,204,205);
	border-radius: 2px;-webkit-border-radius: 2px;-moz-border-radius: 2px;
	
}
.calculate_tree>ul>li:hover{
background:#006034!important;
	color:#FFFFFF!important;
/*	transition:1s;*/
}

.calculate_tree>ul>li>div{
	line-height: 0px;margin-top: 20px;
}

.GL_JSQ {
	background:#006034!important;
	color:#FFFFFF!important;
}

.calculate_tree_sponde {
	/*border: 1px solid;*/
	width: 680px;
	height: 100%;
	float:right;
	/*background: #e5e5eb ;*/
}

.calculate_tree_sponde1 {
	width: 680px;
	height: 100%;

}

.nianlilv_one,
.nianlilv_two,
.nianlilv_three,
.nianlilv_four {
	width:130px;
	height: 30px;
	border: 1px solid darkgrey;
}

.calculate_sponde_a:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.calculate_title {
	width: 350px;
	height: 45px;
	color: #434343;
	line-height: 45px;
	font-size: 18px;
}

.jisuan {width: 100%;

}

.alert_tix {
	color:#006034;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
}

.tr_td1 {
	width: 260px;
	height: 30px;
	line-height:30px!important;
}

.tr_td3 {
	width: 200px;
	height: 30px;
	line-height: 30px!important;
}

.tr_td2 {
	margin-bottom: 20px!important;
	width: 300px;
	height: 30px;
	line-height: 30px;
}

.select_tr {
	width: 130px;
	height: 30px;
}

.select_tr2 {
	width:130px;
	height: 30px;
}

.select_tr3 {
	width:130px;
	height: 30px;
}

.select_tr4 {
	width: 130px;
	height: 30px;
}

.nianlilv {
	width: 150px;
	height: 40px;
	display: inline-block;
}

#wlei,
#dhf {
	margin: 0 10px;
	color: black;
}

label {
	font-weight: 500!important;
}

.Wdate {
	width: 120px;
	height: 30px!important;
}

.total_lixi {
	text-align: left!important;
	width: 100%;
	height: 40px;
	margin: 20px 0;
/*	border: 1px solid;*/
}

.total_lixi span {
	color: red;
}

.nian_imput {
	margin-left: 5px;
	width: 50px;
	display: inline-block;
}

.xianshi_result,
.xianshi_result2,
.xianshi_result3,
.xianshi_result4 {
	text-align: center;
	display: none;
	width: 100%;
	height: auto;
	/*border: 1px solid;*/
}

.wwldhf {
	border-color: #D1D3D4;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	width: 1024px;
	height: auto;
}

.YY_yuyue {
	cursor: pointer;
	background: red;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	transition: all 0.5s;
	width: 130px;
	height: 50px;
	margin: 10px auto;
	color: white;
	font-size: 22px;
	text-align: center;
	line-height: 50px;
}

.tel_dianhua {
	font-size: 17px;
	color: red;
}

.YY_yuyue:hover {
	border: 1px solid red;
	box-shadow: 0px 3px 3px dimgray;
}

.green_h {
	color: green;
}

.zy_jiesuan {
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	transition: all 0.5s;
	width: 150px;
	height: 50px;
	border: 1px solid #006034;
	background:#006034;
	margin: 20px auto;
	text-align: center;
	line-height: 50px;
	color: white;
	font-size: 20px;
	cursor: pointer;
	margin-top: 50px;
}

.zy_jiesuan:hover {
	color: #006034;background: #FFFFFF;
	/*box-shadow: 0px 2px 2px dimgray;*/
}

.jisuan_a {
	background: red;
	margin: 0 auto;
	cursor: pointer;
	color: white;
	font-size: 18px;
	width: 200px!important;
	height: 100%;
	line-height: 40px;
	text-align: center;
}

.clear_a {
	margin: 0 auto;
	cursor: pointer;
	color: white;
	font-size: 18px;
	background: #cfcfd0 none repeat scroll 0 0;
	width: 200px!important;
	height: 100%;
	line-height: 40px;
	text-align: center;
}

.calculate_title_result {
	text-align: left;
	margin: 20px 0;
	width: 100%;
	height: 45px;
/*	border-bottom: 2px solid gray;*/
	color: #434343;
	line-height: 45px;
	font-size: 19px;
}

.two_table {
	width: 100%;
	height: 300px;
	/*border: 1px  solid yellow;*/
}

.two_table>div {
	width: 300px;
}

.two_table1 {
	float: left;
}

.two_table2 {
	float: right;
}

.table_res {
	margin-top: 15px;
	border-right: 1px solid;
	border-bottom: 1px solid;
}

.table_res td {
	height: 40px;
	border-left: 1px solid;
	border-top: 1px solid;
}

.san_result {
	width: 100%;
}

.san_result>div {
	float: left;
	width: 200px;
	margin: 10px 7px;
}

.diyihang {
	height: 40px;
	line-height: 40px;
	width: 90%;
	margin: 10px 5%;
}

.diyihang label {
	font-weight: 100!important;
}

.diyihangxia {
	height: 40px;
	line-height: 40px;
	width: 90%;
	margin: 20px 5%;
}

.diyihangxia>.diyi_wwl {
	display: inline-block;
	text-align: center;
	width: 200px;
	height: 40px;
	color: white;
	line-height: 40px;
}

.diyihangxia>.nei {
	background: red;
	margin: 0px 20px;
	cursor: pointer;
}

.diyihangxia>.wai {
	background: grey;
	margin: 0px 20px;
	cursor: pointer;
}

.calculate_re {
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-bottom: 2px solid grey;
}
.biaoge-ww {
	margin: 10px 0;
}
.hz_jsq_cr_n5 {
	border: 1px solid #e5e5eb;
	color: #656565;
	float: left;
	font-size: 14px;
	height: auto;
	line-height: 24px;
	margin-top: 20px;
	padding: 10px;
	width: 663px;
}

.before_huan {
	height: 40px;
	line-height: 40px;
	/*border:1px solid yellow;*/
	width: 90%;
	margin: 15px 5%;
}
.before_huan>label {
	font-weight: 100;
}

.time_wwl {
	width: 150px;
	border: solid 1px #D3D3D3;
	font-size: 14px;
	color: #777777;
	height: 32px;
}
.hz_jsq_cr_n3 {
	margin-top: 20px;
	float: left;
	margin-left: 20px;
	width: 590px;
}
.hz_wz {
	color: #434343;
	font-size: 16px;
	height: 38px;
	line-height: 38px;
}

.gerengz {
	width: 90%;
	margin: 40px 5%;
}

.two_table_zy {
	width: 100%;
}
/*在这里加入致电、位置、在线咨询、预约贷款，放置方式与顶部导航栏相同*/
.detail_add{
	/*box-shadow: 0 0 10px #D5D5D5;*/
	margin-top: 20px;
	width: 100%;height:450px;
}
.detail_add_ul{
   height: 60px;
    margin: 0 auto;
    width: 600px;
}
 .detail_add_ul>li{cursor: pointer;
    font-size: 22px;
    float: left;
    height:60px;  
    line-height:60px;
    text-align: center;
    width: 120px;
    }
.detail_add_ul>li:hover{
	color:#006034; 
    /*border-bottom: 2px solid #cd9d2c;*/ 
    }
.detail_cur{color:#006034; 
}
.detail_add_div{border-top: 1px dashed #006034;
width: 100%;height:370px;padding: 15px 15px;
}
.detail_add_div>div{overflow: hidden;
width: 100%;height:370px;
}

.detail_left{padding: 0 10px;
	width: 35%;float: left;
}
.detail_left h2{
	font-size:21px ;
}
.detail_left div{
	font-size:16px; letter-spacing:2px; 

}
.detail_right{padding: 0 10px;
	width:600px;float:right;
}
.detail_ditu{
width:600px;height:370px;}
#allmap{width:600px!important;height:370px!important;}

.detail_zhidain{overflow: hidden;padding: 30px 30px;
	width: 720px;height: 100%;margin: 0 auto;
}
.detail_zhidian_left{width:45%;
float:left;text-align: center;
padding: 30px 0;
box-shadow: 0 0 10px rgb(205,205,205);
	
}
.detail_zhidian_left>.title{
	line-height: 35px;
}
.color_tel{
	color:#006034;font-size:20px;font-weight: 600;
}
.detail_zhidian_right{width:45%;
float:right;text-align: center;padding: 30px 0;
box-shadow: 0 0 10px rgb(205,205,205);
	
}
.detail_zhidian_right>.title{
	line-height: 35px;
}

/*在线咨询css*/
.inline_detail{overflow: hidden;
	width: 600px;height: auto;margin: 20px auto 0;
}
.inline_detail_le{text-align: center;
	float: left;width: 50%;
}
.inline_detail_ri{text-align: center;
	float: right;
width: 50%;}
.detail_tijiao{margin: 15px auto;cursor: pointer;font-size: 20px;
border: 1px solid #006034;
width: 150px;height: 50px;background:#006034 ;border-radius: 10px;-webkit-border-radius: 10px;
-moz-border-radius: 10px;color: #FFFFFF;
line-height: 50px;text-align: center;
}
.detail_tijiao:hover{
background: #FFFFFF;
	/*box-shadow: 0 0 10px darkgray;*/
}
.detail_tijiao:hover a{
	color: #006034!important;
}
.yuyue_dhf{
	width: 550px;height: auto;margin: 30px auto;
}
.form-group{
	margin: 10px 0!important;
}
.margi{
	width:80px;
}
.help_submit{border: 0;display: block;
margin:20px 150px;cursor: pointer;font-size: 20px;border: 1px solid #006034;
width: 150px;height: 50px;background:#006034;border-radius: 10px;-webkit-border-radius: 10px;
-moz-border-radius: 10px;color: #FFFFFF;line-height: 50px;text-align: center;
}
.help_submit:hover{
	/*box-shadow: 0 0 10px darkgray;*/
	color: #006034;background: #FFFFFF;
}
.form-control{
	width: 320px!important;
}
#input{
	width: 200px!important;
}
#code{width: 120px;height: 30px;line-height: 30px;
	border: 0;background: #D1D3D4;
}
#login-erro{
	color: red;
}
/*在这里加入致电、位置、在线咨询、预约贷款，放置方式与顶部导航栏相同*/



/*页面修改的部分cs由此开始*/
.zihao{
	line-height: 60px;color:#666666 ;
	font-size: 14px;text-decoration: none;	
}
.gonglue_bjt{
	position: relative;z-index: 12;
	height: 420px;
	overflow: hidden;
	width: 1422px;
	margin: 0 auto;
	background-image:url(../pimg/gonglue.png) ;
}
.gonglue_search{
	box-sizing: border-box;
	text-align: center;
	width:840px;height:180px;
    margin: 100px auto 0;
}
.gonglue_search h3{
	line-height: 100px;
	font-size: 48px;color:#FFFFFF;
}
.big_waibao{
	font-size: 0;
}
.big_waibao input{box-sizing: border-box;font-size:18px;
   padding: 20px;border: none;display: inline-block;
	width:700px;height:60px;background: #FFFFFF;	
}
.big_waibao button{
	border: none;
	border-radius: 10px;
	color:#5d5d5d;text-align: center;font-size: 22px;
	margin-left:16px;
	line-height: 60px;box-sizing: border-box;
	height: 60px;background: #FFFFFF;
	display: inline-block;width:120px;
}
.gonglue_out{margin: 0 auto;
	width: 1200px;box-shadow: 0 0 10px #D5D5D5;
}
.gonglue_list{
	padding: 30px 124px;box-sizing: border-box;
	width: 1200px;margin: 0 auto;display: flex;display: -webkit-flex;
	flex-direction:row ;flex-wrap: wrap;justify-content: space-between;
}
.gonglue_list>a{
	position: relative;
	font-size:18px;text-align: center;line-height: 100px;
	width:240px;height: 100px;color:#006034;margin-bottom:40px;
	cursor: pointer;display: block;transition: all 0.5s;
	/*box-shadow: 0 0 10px #D5D5D5;*/
}
.gonglue_active{
	box-shadow: 0 0 10px #4C4C4C;top: -3px;
	/*background:#4fc3ae!important;color: #FFFFFF!important;*/
}
.gonglue_list>a:hover{
	background: #006034;
	color: #FFFFFF;
	box-shadow: 0 0 10px #4c4c4c;top: -3px;
}
.gonglue_list_duiy{
	text-indent: 20px;font-size:18px;color: #4fc3ae;
	padding: 0 5px;box-sizing: border-box;
	line-height:74px;border-bottom: 1px dashed #4fc3ae;
}
/*@media only screen and (max-width:1422px ) {
.gonglue_bjt{
	height: 300px;

}
}*/




.hot_search{
	margin: 0 auto;
	width:460px;
	text-align: left;

}
.hot_search>a{
	display:inline-block;
	width: 40%;
	line-height: 40px;
	font-size: 15px;
	color:#FFFFFF;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;margin: 10px 10px;
	
}
.hot_search>a:hover{
	color: #4FC3AE;
}






/*页面修改的部分cs由此开始*/