/*@font-face {
    font-family: 'youyuanregular';
    src:  url('../fonts/幼圆.TTF') format('truetype');
    font-weight:900!important;
    font-style: normal;
}*/
/*@font-face {
	font-family: 'youyuanregular';
	  src: url('../fonts/youyuan-webfont.eot');
    src: url('../fonts/youyuan-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/youyuan-webfont.woff') format('woff'),
         url('../fonts/幼圆.TTF') format('truetype'),
         url('../fonts/youyuan-webfont.svg#youyuanregular') format('svg');
	font-weight:normal;
	font-style: normal;
}*/